<nav class="bg-white shadow-md overflow-auto">
  <div class="max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      
      <div class="flex-shrink-0">
        <a (click)="navigate('/')" class="text-2xl font-bold text-blue-600 cursor-pointer">
          SmartFinance
        </a>
      </div>

      <div class="">
        <div class="ml-10 flex items-baseline space-x-4">
          
          <a (click)="navigate('')"
             class="nav-link cursor-pointer">
            Home
          </a>

          <a (click)="navigate('groups')"
             class="nav-link cursor-pointer">
            Meus Grupos
          </a>
          
          </div>
      </div>

    </div>
  </div>
</nav>